<%= form_tag "/chairs", method: :post do %>
<div>
 Name: <input type="text" name="form_name">
</div>
 <div>
 Image: <input type="text" name="form_image">
 </div>
 <div>
 Price: <input type="text" name="form_price">
 </div>
 <div>
 Description: <input type="type" name="form_price">
 </div>
 <input type="submit" value="Create Chair">
 <% end %>
 