<h1>Your Chairs</h1>
<% @carted_products.each do |carted_product| %>
  <div>
    <h2>Name: <%= Chair.find_by(id: carted_product.product_id).name %></h2>
   <h2>Price: <%= Chair.find_by(id: carted_product.product_id).price %></h2>
  </div>
<% end %>

<%= form_tag "/orders", method: :post do %>
  <input type="submit" value="Buy Now!">
<% end %>