// Place all the styles related to the Chairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url("white_wall.png");
}

// .chair-image {
//   width: 100%;
  
//   }

//   .well {
//    min-height:540px;
//   }

btn-default {
 margin-top: 5px;
 margin-bottom: 5px;
}

.chair-image {
 width:65%;
 height: 300px;
}
.show .well{
 min-height: 200px;
}
.well{
 min-height: 400px;
 background: rgba(251, 251, 251, 0.2);
}
.chair-product img {
 height:250px;
 width: 250px;
 background-color: white;
 float: left;
 margin-right: 10px;
}
.show-info {
 float: left;
}
.show-links {
 clear: left;
 padding-top: 10px;
}
.chair-name {
 text-decoration: underline;
 font-size: 100px;
 text-align: center;
}

.show-page-img {
 width: 100%;
}
